<div class="form-group">
  <label for="date">Date:</label><label class="refresh" (click)="onChangeDay();"><span class="glyphicon glyphicon-refresh"></span></label>
  <input type="date" class="form-control" id="date" [(ngModel)]="date" (change)="onChangeDay()" />
</div>

<div *ngIf = "dailyExpenses?.length > 0">
  <div class="row" style="text-align: center; margin-top: 15px;">
    <div class="col-xs-3 col-sm-3">
        <b>Date</b>
    </div>
    <div class="col-xs-3 col-sm-3">
        <b>Expense</b>
    </div>
    <div class="col-xs-3 col-sm-3">
        <b>Category</b>
    </div>
    <div class="col-xs-3 col-sm-3">
        <b>Remark</b>
    </div>
  </div>
  <div *ngFor = "let dailyExpense of dailyExpenses" class="row" style="text-align: center; margin-top: 5px; color: #7a7777">
    <div class="col-xs-3 col-sm-3" >
        {{dailyExpense.date}}
    </div>
    <div class="col-xs-3 col-sm-3">
        {{dailyExpense.amount}}
    </div>
    <div class="col-xs-3 col-sm-3">
        {{dailyExpense.category}}
    </div>
    <div class="col-xs-3 col-sm-3">
        {{dailyExpense.remark}}
    </div>
  </div>
</div>

<div class="alert alert-warning" *ngIf = "dailyExpenses?.length === 0">
  <strong>No record found!</strong>
</div>